.container {
    display: grid;
    grid-template-columns: 180px 1fr;
}

.leftColumn {
    position: relative;
    padding-right: 15px;
    padding-top: 8px;
}

.leftColumn img {
    width: 100%;
    height: 90px;
    object-fit: cover;
    object-position: center;
    border: 2px solid #a04444;
    /* border-image: linear-gradient(45deg, #800080, #a04444) 1; */
}

@media (max-width: 960px) {

    .leftColumn {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }
}

audio {
    width: 100%;
}