/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3.4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--palette-background-alt);
  color: var(--ifm-font-color-base);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.heroBanner canvas {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.hero .container {
  z-index: 1;
}

.hero a {
  color: white;
}

.mainTitle {
  margin: 3% 0 0 0;
  font-size: 3.2rem;
  font-weight: 600;
  font-family: "Nunito";
}

.subTitle {
  margin: 0 0 5% 0;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Nunito";
}

.section {
  padding: 3em 0;
}

.sectionAlt {
  background-color: var(--palette-background-alt);
}

.sectionAlt p {
  font-size: 1.1em;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  opacity: 0.4;
  margin-top: 15px;
  text-align: center;
  padding: 25px 0;
}

.logos svg {
  height: 38px;
}

html[data-theme="dark"] .logos svg * {
  fill: white;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

@media screen and (max-width: 996px) {
  .features {
    margin: auto !important;
  }
}

.featureImage {
  height: 125px;
  width: 125px;
  margin: 2em 2em;
  object-fit: cover;
}

.heart {
  color: rgb(204, 27, 27);
}

.quote {
  font-family: serif;
  font-size: 19px;
  padding: 42px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-left-color: var(--ifm-link-color);
  color: var(--ifm-font-color-base);
}

.responsiveEmbed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsiveEmbed:not(:last-child) {
  margin-bottom: 2em;
}

.responsiveEmbed iframe,
.responsiveEmbed object,
.responsiveEmbed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lspDemo {
  width: 100%;
  margin-bottom: 1em;
}

.playWithIt {
  margin: 1em 0 0 0;
}

@media screen and (max-width: 996px) {
  .featureImage {
    float: left;
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .mainTitle {
    width: 100%;
    font-size: 2rem;
  }

  .subTitle {
    width: 100%;
    font-size: 0.9rem;
  }

  .featureImage {
    float: none;
    margin: 2.25em 0;
  }
}