.banner {
    background-color: #0C0D0E;
    color: #9b9b9b;
    padding: 2rem;
    text-align: center;
    animation: slideInDark 1s linear forwards;
}

.bannerTitle {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    animation: fadeIn 2s ease-in;
}

.bannerLink {
    color: #E84C3B;
}

.bannerLink:hover {
    color: #f36656;
    text-decoration: none;
}

.bannerText {
    font-size: 1.2rem;
    animation: fadeIn 3s ease-in;
    margin-bottom: 0;
}

@keyframes slideInDark {
    from {
        background-color: #17171B;
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInLight {
    from {
        background-color: white;
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html[data-theme="light"] .banner {
    background-color: #e7e7e7;
    color: #545454;
    animation: slideInLight 1s linear forwards;
}

html[data-theme="light"] .bannerLink {
    color: #ff6757;
}

html[data-theme="light"] .bannerLink:hover {
    color: #ff9184;
}

@media screen and (max-width: 996px) {
    .bannerTitle {
        font-size: 1.2rem;
    }
    
    .bannerText {
        font-size: 1rem;
    }
}