.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    margin-top: 2rem;
    margin-bottom: 0rem;
    padding: 0 1rem;
}

.testimonial {
    width: 100%;
    max-width: 100%;
    padding: 2rem;
    text-align: center;
    padding: 0 2rem;
    font-size: 1.5em;
}

.quote {
    border-left: none;
    color: #df6052;
}

.author {
    color: #747476;
    font-size: 0.8em;
    margin-top: 1rem;
}

.switch {
    cursor: pointer;
    background: none;
    border: none;
    padding: 20px;
    font-size: 2em;
    transition: all 0.4s ease;
}

.switch:hover {
    outline: none;
    color: #E84C3B;
}
